* {
  font-family: Arial;
}

h1 {
  color: green;
}

h2 {
  font-family: Arial;
}

table, th, td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
}

.navbar-brand {
  color: red;
}

#home-header {
  color: gold;
}

a[href*='post'] {
	color: violet;
}

a:hover, a:focus {
  color: aquamarine;
}

header h1 {
  color: deeppink;
}

h1 {
  color: teal !important;
}
